* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

body {
    background-color: blue;
    margin: auto;
}

.containor {
    height: 15rem;
    width: 30rem;
    background-color: aliceblue;
    border-radius: 8px;
    box-shadow: 5px 5px 30px gray;
    transition: .4s ease-in-out;
    text-align: center;
    margin: 5rem auto;
}

.containor:hover {
    box-shadow: 2px 2px 20px black;
}

.ip {
    height: 2rem;
    width: 80%;
    margin: 5% 10%;
    padding: .1rem 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    outline: none;
}

.btn {
    height: 1.9rem;
    width: 44%;
    margin: 0 28%;
    border: none;
    border-radius: 20px;
    background-color: blue;
    color: white;
    font-weight: 600;
    box-shadow: 3px 3px 10px gray;
    transition: .5s ease-in-out;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 3px 3px 10px black;
}

.home-logo {
    width: 4rem;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    right: 10px;
    opacity: .7;
    border: 3px solid white;
    transition: .5s ease-in-out;
}

.home-logo:hover {
    cursor: pointer;
    width: 4.5rem;
    border: 2px solid white;
    opacity: 1;
    bottom: 1rem;
    right: 1rem;
}

@media screen and (max-width: 530px) {
    .containor {
        height: 10rem;
        width: 22rem;
    }

    .ip {
        height: 1.8rem;
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 370px) {
    .containor {
        height: 10rem;
        width: 18rem;
    }

    .ip {
        height: 1.7rem;
        font-size: 1rem;
    }
}

@media screen and (max-width: 318px) {
    .containor {
        height: 10rem;
        width: 15rem;
    }
}
