* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #f7fbff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containor {
    height: 70%;
    width: 65%;
    border-radius: 8px;
    background-color: aliceblue;
    box-shadow: 5px 5px 30px gray;
    transition: .4s ease-in-out;
}

.containor:hover {
    box-shadow: 2px 2px 20px black;
}

.display {
    height: 2.2rem;
    width: 98%;
    margin: 2.5% 1%;
    padding: .1rem 1rem;
    font-size: 1.3rem;
    font-weight: 900;
    font-family: monospace;
    color: green;
}

.ip {
    height: 2rem;
    width: 80%;
    margin: 5% 10%;
    padding: .1rem 1rem;
    font-size: 1.1rem;
    font-weight: 600;
}

.btn {
    height: 1.9rem;
    width: 44%;
    margin: 0 25%;
    border: none;
    border-radius: 20px;
    background-color: blue;
    color: white;
    font-weight: 700;
}

@media screen and (max-width: 530px) {
    .containor {
        padding: 1rem;
    }

    .btn {
        margin: 2% 25%;
    }

    .ip {
        height: 1.7rem;
        padding: 0 .7rem;
        font-size: .9rem;
    }
}

@media screen and (max-width: 460px) {
    .containor {
        height: 45%;
        width: 90%;
    }

    .btn {
        margin: 2% 27%;
    }

    body {
        height: 85vh;
        width: 100%;
    }
}

@media screen and (max-width: 460px) {
    .display {
        height: 1.9rem;
        font-size: 1.1rem;
        font-weight: 700;
    }
}
